<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Firefox Portable</string>
	<key>CFBundleExecutable</key>
	<string>firefox_launcher</string>
	<key>CFBundleIconFile</key>
	<string>firefox.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>???</string>
    <key>CFBundleIdentifier</key>
	<string>jp.yama07.firefox</string>
	<key>CFBundleDisplayName</key>
	<string>Firefox Portable</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>CSResourcesFileMappedExceptionsKey</key>
	<array>
		<string>Contents/Resources</string>
	</array>
</dict>
</plist>
